body {
  background-color: black;
}

span {
  font-weight: bold;
  font-family: Times;
}

#text {
  position: absolute;
  top: 165px;
  left: 600px;
  width: 350px;
  height: 200px;
  font-size: 150%;
  font-weight: 100;
  font-family: Baskerville;
  line-height: 150%;
  text-shadow: 1px 1px 1px rgba(0,100,255,0.85);
  color: rgba(255,0,55,1);
  letter-spacing: 1px;
}
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .hadouken {
  display: none;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}
.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  /*display: none;*/
  position: relative;
  top: -320px;
  left: 475px;
  float: left;
}
